<!-- MovieApp.Web.Models.Movie yazmıyorum ViewImports sayesinde-->
@model Movie ; 
<!--model olarak şunu kullanıyorum diyorum-->



<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <title>Home/Index</title>
        <style>
        .film {
            border: 1px solid #000000;
            margin-bottom: 10px;
            padding: 10px
        }
        </style>
    </head>
    <body>

        <!--Home/Index-->

       <h1>Film Listesi</h1>

       <!--all films-->
       <div id="filmler">

           <div class=" film">

               <!-- ViewBag kullanımı      ViewBag.FilmBasligi-->
               <p> @Model.Title</p>
               <p> @Model.Description</p>
               <p> @Model.Director</p>
               

               <!--oyuncular-->
               <p> 
                   <ul>
                       @foreach (var player in Model.Players)
                    {
                        
                        <li>@player</li>
                    }
                   </ul>
               </p>


           </div>




       </div>

        








    </body>
</html>